@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.categories {
  @include flexed;
  justify-content: flex-start;
  gap: 8px;
  cursor: pointer;
  padding-bottom: 40px;

  .categoryClicked {
    @include iconed(12px 16px, 6px, $background);
  }

  .category {
    @include iconed(12px 16px, 6px, $white);
  }
}