@import './colors.scss';

@mixin flexed {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin iconed ($p, $r, $c) {
  padding: $p;
  border-radius: $r;
  background-color: $c;
}