@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.productSection {
  padding-bottom: 200px;

  h3 {
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 20px;
  }

  .products {
    display: flex;
    gap: 18px;

    .product {
      max-width: 278px;
      display: flex;
      flex-direction: column;

      .productTexts {
        padding: 12px;

        h4 {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 7px;
        }

        p {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          margin-bottom: 12px;
          color: #48535B;
        }

        .orderPart {
          @include flexed;

          .price {
            font-size: 18px;
            color: black;
          }

          button {
            @include iconed (10px 20px, 20px, $main);
            border: none;
          }
        }
      }
    }
  }
}