@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;

  .logo {
    @include flexed;
    padding-right: 40px;
  }

  .navbar {
    @include flexed;
    width: 100%;

    .inner {
      @include flexed;
      gap: 32px;

      .innerRight {
        @include flexed;
        gap: 8px;

        .locationIcon {
          @include iconed(7px 7px 4px, 15px, $background);
        }

        .iconText {
          display: flex;
          flex-direction: column;
          gap: 4px;

          p {
            &:last-child {
              color: var($main);
            }
          }
        }

        .cartIcon {
          @include iconed(9px 8px 6px 10px, 18px, $background);
        }

        .userIcon {
          @include iconed(9px 8px 6px 9px, 18px, $background);
        }
      }
    }
  }
}